input, button {
  font-family: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1600px;
}

.wrapper {
  background: url('../img/bg-image.png');
  background-size: cover;
  background-position: center;
  min-height: 744px;
}

.header {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #fff;
  font: normal normal 14px/140% 'Roboto', sans-serif;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  margin: 25px 0 105px 0;
}

.menu__about {
  border-bottom: 1px solid #fff;
  font: normal 500 14px/140% 'Roboto', sans-serif;
}

.menu__about:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.menu__syllabus:hover,
.menu__projects:hover,
.menu__faq:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  text-decoration: underline;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title__webdev {
  color: #fff;
  font: normal bold 64px 'Roboto', sans-serif;
  letter-spacing: 4.5px;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.title__text {
  color: #fff;
  font: normal normal 18px/140% 'Roboto', sans-serif;
  margin-bottom: 28px;
}

.btn__start {
  background: #00AFDB;
  color: #fff;
  font: normal 500 14px 'Roboto', sans-serif;
  text-transform: uppercase;
  padding: 15px 47px;
  border: none;
  margin-bottom: 182px;
  cursor: pointer;
}

.btn__start:hover {
  background: #22758a;
}

.social {
  display: flex;
  margin: 0 auto;
  width: 200px;
  justify-content: space-around;
  align-items: center;
}

.social__mail:hover,
.social__facebook:hover,
.social__instagram:hover,
.social__youtube:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.wrap{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 842px;
}

.represent {
  display: flex;
  flex-wrap: wrap;
  width: 390px;
  height: 255px;
}

.represent__idea {
  font: normal bold 24px 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #373737;
}

.represent__tasks {
  font: normal normal 14px/140% 'Roboto', sans-serif;
  color: #373737
}

.btn__started {
  background: #00AFDB;
  color: #fff;
  font: normal 500 14px 'Roboto', sans-serif;
  text-transform: uppercase;
  border: none;
  width: 184px;
  height: 46px;
  cursor: pointer;
}

.btn__started:hover {
  background: #22758a;
}

.wrap__foto {
  margin-top: -20px;
}
.wrapping {
  background: #F5F6F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 504px;
}

.nav-items {
  width: 1070px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 23px;
}

.nav-items__vector {
  padding-right: 12px;
}

.nav-items__vector:hover,
.nav-items__vec:hover {
  opacity: .5;
  cursor: pointer;
}

.nav-items__one {
  padding-right: 5px;
}

.nav-items__slash {
  padding-right: 5px;
}

.nav-items__five {
  padding-right: 15px;
}

.nav-items__link {
  font: normal 500 18px/140% 'Roboto', sans-serif;
  color: #000;
}

.group-slider {
  display: flex;
  width: 1600px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 62px;
}

.community {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 298px;
  height: 195px;
  margin-right: 140px;
}

.community__commuinity {
  font: normal 500 16px/20px 'Roboto', sans-serif;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.community__hacker {
  font: normal normal 14px/140% 'Roboto', sans-serif;
  text-align: center;
}

.slider {
  display: flex;
  width: 894px;
  justify-content: space-between;
}
